@media (max-width: 1400px) {
    .reviews {
        .slick-slider {
            .slick-next {
                top: 35px;
                left: 56%;
            }
            .slick-prev {
                top: 35px;
                left: 43%;
            }
        }
    }
}
@media (max-width: 1200px) {
    .header {
        &__mainmenu {
            position: relative;
        }
        &__mainitem {
            display: block;
            width: 160px;
            height: 45px;
            background-color: $main-color;
            color: #fff;
            font-family: 'Roboto';
            font-size: 12px;
            text-align: center;
            line-height: 45px;
            border-radius: 50px;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 10px #c20000;
                transition: all 0.1s;
            }
        }
        &__item {
            border-right: none;
        }
        &__menu {
            display: none;
            position: absolute;
            right: 6%;
            top: 30px;
            border-radius: 20px;
            flex-direction: column;
            padding-top: 20px;
            background-color: $main-color;
        }
        &__link {
            &:hover {
                color: #000;
            }
        }
        &__mainmenu:hover &__menu {
            display: block;
        }
    }
    .work {
        &__block {
            display: flex;
        }
        &__wrap {
            margin-left: 10px;
        }
        &__icon {
            display: block;
            margin: 0 auto;
        }
    }
    .price {
        &__block {
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .reviews {
        .slick-slider {
            .slick-next {
                top: 35px;
                left: 57%;
            }
            .slick-prev {
                top: 35px;
                left: 41.5%;
            }
        }
    }
    .form {
        &__blocks {
            width: 100%;
        }
        &__input {
            input {
                width: 229px
            }
        }
        &__textarea {
            textarea {
                width: 700px;
            }
        }
        
    }
}
@media (max-width: 992px) {
    .header {
        &__mainitem {
            width: 154px;
            height: 39px
        }
        &__menu {
            top: 29px;
            border-radius: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &__text {
            font-size: 12px;
        }
        &__phone {
            font-size: 16px;
        }
        &__wrap {
            .btn {
                width: 140px;
                height: 39px;
            }
        }
        &__subtext {
            font-size: 20px;
        }
        &__title {
            font-size: 56px;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__line {
            width: 100%;
        }
        &__text-1 {
            font-size: 13px;
        }
        .btn_1 {
            width: 220px;
            height: 47px;
        }
    }
    .price {
        &__input {
            input {
                width: 210px;
            }
        }
    }
    .form {
        &__text {
            font-size: 17px;
        }
        &__subtext {
            font-size: 12px;
        }
        &__input {
            input {
                width: 175px;
                padding-left: 15px;
            }
        }
        &__textarea {
            textarea {
                width: 535px;
                margin-left: 21px;
            }
        }
    }
    .footer {
        &__window {
            left: 53%;
        }
        &__subtitle {
            display: none;
        }
        &__questions {
            font-size: 12px;
        }
        &__link-1 {
            font-size: 17px;
        }
        .btn {
            height: 39px;
        }
    }
    .reviews {
        .slick-slider {
            .slick-prev {
                left: 39.5%;
            }
            .slick-next {
                left: 59%;
            }
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__wrap {
            display: block;
            .btn {
                margin-top: 5px;
            }
        }
        &__text {
            font-size: 10px;
            line-height: 5px;
        }
        &__phone {
            font-size: 15px;    
        }
        &__subtext {
            font-size: 18px;
        }
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 29px;
        }
    }
    .work {
        &__block {
            display: block;
        }
    }
    .agent {
        &__title {
            font-size: 21px;
        }
        &__text {
            font-size: 15px;
        }
    }
    .price {
        &__text-1 {
            font-size: 21px;
            margin-top: 27px;
        }
        &__form {
            height: 250px;
        }
        &__blocks {
            flex-direction: column;
            margin-top: 50px;
        }
        &__input {
            margin-top: 10px;
        }
        &__btn {
            margin-top: 11px;
        }
    }
    .title {
        font-size: 21px;
    }
    .subtitle {
        font-size: 15px;
        br {
            display: none;
        }
    }
    .manager {
        &__title {
            font-size: 21px;
        }
        &__text {
            font-size: 15px;
        }
    }
    .promo {
        &__text {
            font-size: 14px;
        }
    }
    .reviews {
        .slick-slider {
            .slick-prev {
                left: 34.5%;
            }
            .slick-next {
                left: 62.5%;
            }
        }
        &__text {
            width: 500px;
            margin-left: 50px;
            span {
                display: none;
            }
        }
        &__inner {
            transform: scale(0.9)
        }
    }
    .form {
        &__blocks {
            height: 400px;
        }
        &__block {
            flex-direction: column;
            margin-left: 20px;
        }
        &__input {
            margin-top: 5px;
            input {
                width: 380px;
            }
        }
        &__textarea {
            textarea {
                width: 380px; 
            }
        }
    }
    .footer {
        &__window {
            display: none;
        }
        &__text-1 {
            font-size: 12px;
        }
        &__link-2 {
            font-size: 12px;
        }
        &__text-2 {
            font-size: 12px;
            margin-top: -4px;
        }
    }
}
@media (max-width: 576px) {
    .header {
        &__logo {
            margin-left: -190px;
        }
        &__mainmenu {
            margin-top: -70px;
            margin-left: 60px;
        }
        &__menu {
            right: 5%;
        }
        &__nav {
            flex-direction: column;
        }
        &__wrap {
            margin-top: 10px;
            display: flex;
        }
        &__contact {
            margin-top: 10px;
        }
        &__text {
            text-align: start;
        }
        &__phone {
            font-size: 14px;
        }
        &__subtext {
            margin-top: 15px;
            font-size: 15px;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 21px;
            margin-top: 10px;
        }
        &__wrapper {
            display: block;
        }
        &__wrap-1 {
            display: flex;
            margin-top: 10px;
            br {
                display: none;
            }
            span {
                display: none;
            }
        }
        .btn_1 {
            width: 200px;
            height: 40px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 19px;
    }
    .subtitle {
        font-size: 13px;
    }
    .work {
        &__icon {
            width: 100%;
        }
    }
    .agent {
        &__title {
            font-size: 19px;
        }
        &__text {
            font-size: 13px;
            margin-top: 9px;
        }
    }
    .price {
        &__text-1 {
            font-size: 19px;
        }
    }
    .manager {
        &__title {
            font-size: 19px;
        }
        &__text {
            font-size: 13px;
            margin-top: 9px;
        }
    }
    .promo {
        &__blocks {
            flex-direction: column;
            align-items: center;
        }
    }
    .reviews {
        &__text {
            width: 280px;
            margin-left: -60px;
            padding: 0 40px;
        }
        .slick-slider {
            .slick-prev {
                left: 23.5%
            }
            .slick-next {
                left: 72%
            }
        }
    }
    .form {
        &__text {
            font-size: 15px;
        }
        &__subtext {
            font-size: 10px;
        }
        &__input {
            input {
                width: 190px
            }
        }
        &__textarea {
            textarea {
                width: 190px;
            }
        }
    }
    .footer {
        &__icons {
            display: none;
        }
        &__questions {
            font-size: 10px;
        }
        &__link-1 {
            font-size: 14px;
        }
        .btn {
            width: 130px
        }
        &__divider {
            margin-top: 15px;
        }
        &__wrapper {
            flex-direction: column;
            margin-top: 15px;
        }
        &__link-2 {
            margin-top: 10px;
        }
        &__text-2 {
            margin-top: 10px;
        }
    }
}